<!-- /snippets/product.liquid -->

{% comment %}
    Renders product content

    Accepts:
    - product: {Object} Current product (required)
    - section: {Object} Image to render (required)

    Usage:
    {%- render 'product' product: product, section: section, unique: unique -%}
{% endcomment %}

{%- assign unique = unique | default: '' -%}
{%- assign yotpo_enable = false -%}

{%- capture product_rating_markup -%}
  {%- if settings.enable_yotpo and settings.yotpo_ID != '' -%}
    {%- assign yotpo_enable = true -%}

    <div class="product__badge product__badge--yotpo">
      <a href="#reviews-{{ product.id }}" class="is-not-relative" data-scroll-to aria-label="{{ 'products.general.reviews' | t }}">&nbsp;</a>

      <div class="yotpo bottomLine"
        data-appkey="{{ settings.yotpo_ID }}"
        data-domain="{{ shop.permanent_domain | escape }}"
        data-product-id="{{ product.id }}"
        data-product-models="{{ product.id }}"
        data-name="{{ product.title | strip_html | escape }}"
        data-url="{{ shop.url }}{{ product.url }}"
        data-image-url="{{ product.featured_image | img_url: 'large' | replace: '?', '%3F' | replace: '&','%26' }}"
        data-description="{{ product.description | escape }}"
        data-bread-crumbs="{% for tag in product.tags %}{{ tag | escape }};{% endfor %}"
        tabindex="-1"
        aria-hidden="true">
      </div>
    </div>
  {%- elsif settings.enable_product_reviews -%}
    <div class="product__badge">
      {%- assign reviews_count = product.metafields.spr.reviews | split: '"reviewCount":' | last | split: ',' | first | remove: '"' | plus: 0 -%}

      {%- if reviews_count > 0 -%}  
        {%- assign reviews_rating = product.metafields.spr.reviews | split: '"ratingValue":' | last | split: ',' | first | remove: '"' | round: 1 -%}

        <a href="#reviews-{{ product.id }}"  class="is-not-relative">
          {% render 'icon-star' %}

          {{ reviews_rating }}
        </a>
      {%- endif -%}
    </div>
  {%- endif -%}
{%- endcapture -%}

{%- capture subheading -%}
  {%- case section.settings.subheading_option -%}
    {%- when 'vendor' -%}
      {%- if product.vendor -%}
        <nav class="breadcrumbs breadcrumbs--no-padding product__breadcrumbs">
          <a href="{{ product.vendor | url_for_vendor }}">{{ product.vendor }}</a>
        </nav>
      {%- endif -%}
    {%- when 'collection' -%}
      {%- if collection or product.collections.size > 0 -%}
        {% assign _collection = collection | default: product.collections[0] %}
        
        <nav class="breadcrumbs breadcrumbs--no-padding product__breadcrumbs">
          <a href="{{ _collection.url }}">{{ _collection.title }}</a>
        </nav>
      {%- endif -%}
    {%- when 'breadcrumb'  -%}
      {% render 'breadcrumbs' breadcrumbs_modifier: 'breadcrumbs--no-padding product__breadcrumbs' %}
  {%- endcase -%}
{%- endcapture -%}

<div class="product__wrapper product__wrapper--{{ section.settings.image_layout | default: 'thumbnails ' }}" data-product>
  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign featured_media = product.selected_or_first_available_variant.featured_media | default: product.featured_media -%}

  <div class="grid product__page">
    <div class="grid__item medium-up--one-half">
      {% if product.media.size > 0 %}
        <div class="product__slides product-single__photos" data-product-slideshow data-product-single-media-group>
          {% for media in product.media %}
            {% render 'media', media: media, featured_media: featured_media, sectionkey: unique %}
          {% endfor %}
        </div>

        {% assign first_3d_model = product.media | where: "media_type", "model" | first %}
        {% if first_3d_model %}
          <button
            class="btn btn--outline btn--neutral btn--ar product-single__view-in-space"
            data-shopify-xr
            data-shopify-model3d-id="{{ first_3d_model.id }}"
            data-shopify-title="{{ product.title | strip_html }}"
            data-shopify-xr-hidden>
            {% render 'icon-media-model' %}
            <span class="product-single__view-in-space-text">{{ 'products.general.view_space' | t }}</span>
          </button>
        {% endif %}
        
        {% if product.media.size > 1 %}
          <div data-product-thumbs class="product__thumbs--square"></div>
        {%- endif -%}
      {% else %}
        <div class="product__slides product-single__photos" data-product-slideshow data-product-single-media-group>
          <div class="product__photo product__slide">
            <div class="lazy-image" style="padding-top: 100%">              
              <img src="{{- product.featured_image | img_url: '1080x' -}}" alt="{{- product.title | strip_html | escape -}}">
            </div>
          </div>
        </div>  
      {% endif %}
    </div>

    <div class="grid__item medium-up--one-half">
      <div class="form__wrapper{% unless current_variant.available %} variant--soldout{% endunless %}" data-form-wrapper>
        <div class="form__inner__wrapper">
          <div class="form__width">

            {{ subheading }}

            <div class="product__title__wrapper" data-zoom-caption>
              <h5>{{ product.type }}</h5>
              <h1 class="product__title">
                {% if template contains 'product' %}
                  {{ product.title | strip_html }}
                {% else %}
                  <a href="{{ product.url }}">{{ product.title | strip_html }}</a>
                {% endif %}
              </h1>

              {%- if template.name == 'product' -%}  
                {%-  unless yotpo_enable -%}
                  {{ product_rating_markup }}
                {%- endunless -%}
              {%- endif -%}
              
              {% if settings.hide_prices == true %}
              {% assign on_off = "none" %}
              {% if product.type == settings.product_type %}
              {% assign on_off = "block" %}
              {% endif %}
              {% endif %}
              
              <div class="product__price__wrap" style="display: {{ on_off }} !important;">
                <div class="product__price" data-price-wrapper>
                  <h4 data-product-price  style='display: none; opacity: 0;'{% if current_variant.compare_at_price > current_variant.price %} class="product__price--sale"{% endif %}>
<!--                     <span> {{ current_variant.price | money_with_currency }}</span> -->
                  </h4>
                  <h4> {{ current_variant.price | money_with_currency }}</h4>

                  {% if product.compare_at_price_max > product.price %}
                    <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
                    <s class="product__price--strike" data-compare-price>
                      {% if current_variant.compare_at_price > current_variant.price %}
                        {{ current_variant.compare_at_price | money_with_currency }}
                      {% endif %}
                    </s>
                  {% endif %}

                  {% liquid
                    assign units = product.variants | map: 'unit_price'
                    if units[0]
                      assign has_units = true
                    else
                      assign has_units = false
                    endif 
                  %}
                  {% if has_units %}
                    {% capture show_units %}
                      {%- unless current_variant.unit_price -%}style="display: none;"{%- endunless -%}
                    {% endcapture %}
                    {% capture unit_price_separator %}
                      <span aria-hidden="true">/</span><span class="visually-hidden">{{ 'general.accessibility.unit_price_separator' | t }}&nbsp;</span>
                    {% endcapture %}
                    {% capture unit_price_base_unit %}
                      <span>
                        {% if current_variant.unit_price_measurement %}
                          {% if current_variant.unit_price_measurement.reference_value != 1 %}
                            {{ current_variant.unit_price_measurement.reference_value }}
                          {%- endif -%}
                          {{ current_variant.unit_price_measurement.reference_unit }}
                        {% endif %}
                      </span>
                    {% endcapture %}
                    
                    <div class="product__price__meta">
                      <span data-product-unit {{ show_units }} class="product__price--unit">
                        <span class="visually-hidden visually-hidden--inline">{{ 'products.product.unit_price_label' | t }}</span>
                        <span data-product-unit-price id="unit-price-{{ section.id }}">{{ current_variant.unit_price | money_with_currency }}</span>
                        {{ unit_price_separator }}
                        <span data-product-base id="unit-price-base-{{ section.id }}">{{ unit_price_base_unit }}</span>
                      </span>
                      <span data-price-each class="product__price--unit hide">
                        {{ 'products.product.each' | t }}
                        <span data-price-each-amount></span>
                      </span>
                    </div>
                  {% endif %}
                </div>
                <span data-price-off class="product__price--off hide">
                  {{ 'products.product.subscription' | t }}
                  <em>•</em>
                  {{ 'products.product.save' | t }}
                  <span data-price-off-amount></span>
                </span>
              </div>
            </div>

            {%- if yotpo_enable and template.name == 'product' -%}
              {{ product_rating_markup }}
            {%- endif -%}

            {% assign hide_labels_class = '' -%}
            {%- if section.settings.show_labels == false -%}
              {% assign hide_labels_class = 'variant__labels--hide' -%}
            {%- endif -%}


            <div data-product-form class="product__form  {{ hide_labels_class }}">
              {% render 'product-form', product: product, section: section, unique: unique %}
            </div>

            {% if template.name == 'product' %}
              {%- assign product_tags = product.tags | join: ',' -%}
{%- assign upsell_separator = '_upsell_' -%}

{%- if product_tags contains upsell_separator -%}
  {%- assign upsell_product_handle = product_tags | split: upsell_separator | last | split: ',' | first -%}
  {%- assign upsell_variant_id = '' -%}
  {%- assign upsell_error = false -%}

  {%- comment -%}Upsell with variant ID{%- endcomment -%}
  {%- if upsell_product_handle contains '_' -%}
    {%- assign upsell_variant_id = upsell_product_handle | split: '_' | last | plus: 0 -%}
    {%- assign upsell_product_handle = upsell_product_handle | split: '_' | first -%}
  {%- endif -%}

  {%- assign upsell_product = all_products[upsell_product_handle] -%}
  {%- assign upsell_variant = upsell_product.variants | where: 'id', upsell_variant_id | first -%}

  {%- if upsell_variant_id == '' -%}
    {%- assign upsell_variant = upsell_product.selected_or_first_available_variant -%}
  {%- endif -%}

  {%- if upsell_product.title == '' or upsell_variant == nil -%}
    {%- assign upsell_error = true -%}
  {%- endif -%}
  
  <div class="product-upsell-holder" data-upsell-holder>
    <h2 class="product-upsell-holder__title small">{{ 'products.general.upsell_title' | t }}</h2>

    <div data-cart-errors-container class="product-upsell__errors small"></div>
  
    <div class="product-upsell">
      {%- assign upsell_variant_image = upsell_variant.image | default: upsell_product.featured_image -%}
  
      <div class="product-upsell__image">
        {%- if upsell_error -%}
          <div class="product-upsell__image-inner" style="background-image: url({{ 'blank.svg' | asset_url }});"></div>
        {%- else -%}
          <a href="{{ upsell_product.url }}">
            {%- if upsell_variant_image -%}
            <div class="product-upsell__image-inner lazyload" aria-label="{{ upsell_variant_image.alt | strip_html | escape }}" role="img" data-bgset="{% render 'bgset', image: upsell_variant_image %}">
              <noscript>
                <img src="{{ upsell_variant_image | img_url: '720x' }}" width="{{- upsell_variant_image.width -}}" height="{{- upsell_variant_image.height -}}"  alt="{{ upsell_variant_image.alt | strip_html | escape }}">
              </noscript>
            </div>
            {%- else -%}
              <div class="product-upsell__image-inner" aria-label="{{ upsell_product.title | strip_html | escape }}" role="img" style="background-image: url({{ 'blank.svg' | asset_url }});">
                <noscript>
                  <img src="{{ 'blank.svg' | asset_url }}" width="300" height="300" alt="{{ upsell_product.title | strip_html | escape }}">        
                </noscript>
              </div>      
            {%- endif -%}
          </a>
        {%- endif -%}
      </div>
  
      <div class="product-upsell__content">
        {%- if upsell_error -%}
          <h3 class="product-upsell__title small">{{ 'products.general.upsell_error_title' | t }}</h3>
  
          <h4 class="product-upsell__variant-title small">{{ 'products.general.upsell_error_info' | t }}</h4> 
        {%- else -%}  
          <a href="{{ upsell_product.url }}">
            <h3 class="product-upsell__title small">{{ upsell_product.title | strip_html }}</h3>
  
            {%- unless upsell_product.has_only_default_variant -%}
              <h4 class="product-upsell__variant-title small">{{ upsell_variant.title | replace: '/', '<span>&nbsp;</span>' }}</h4> 
            {%- endunless -%}
  
            <p class="product-upsell__price small {% if upsell_variant.compare_at_price > upsell_variant.price %} sale{% endif %}">
              <span class="new-price">{{ upsell_variant.price | money_with_currency }}</span>  
              
              {%- if upsell_variant.compare_at_price > upsell_variant.price -%}
                <span class="old-price">{{ upsell_variant.compare_at_price | money_with_currency }}</span>
              {%- endif -%}
              
              {%- if upsell_variant.unit_price -%}
                {%- capture unit_price_separator -%}
                  <span aria-hidden="true">/</span>
                  <span class="visually-hidden">{{ 'general.accessibility.unit_price_separator' | t }}&nbsp;</span>
                {%- endcapture -%}
  
                {%- capture unit_price_base_unit -%}
                  {%- if upsell_variant.unit_price_measurement.reference_value != 1 -%}
                    {{ upsell_variant.unit_price_measurement.reference_value }}
                  {%- endif -%}
                  {{ upsell_variant.unit_price_measurement.reference_unit }}
                {%- endcapture -%}
                
                <br />
  
                <span class="visually-hidden visually-hidden--inline">{{ 'products.product.unit_price_label' | t }}</span>
  
                <span class="unit">{{ upsell_variant.unit_price | money_with_currency }}{{ unit_price_separator }}{{ unit_price_base_unit }}</span>
              {% endif -%}
            </p>  
          </a>
          
          {%- form 'product', upsell_product -%}
            <input type="hidden" name="id" value="{{ upsell_variant.id }}">
  
            <button type="submit" name="add" data-add-to-cart
            data-focus-element data-upsell-btn class="product-upsell__btn is-not-relative {% unless upsell_variant.available %} is-hidden {% endunless %}">
              <span class="product-upsell__btn-hidden" data-upsell-btn-text>{{ 'products.general.upsell_add_to_cart' | t }}</span>
  
              <span class="product-upsell__btn-text">{{ 'products.general.upsell_add_to_cart' | t }}</span>
  
              <span class="product-upsell__btn-plus">+</span>
  
              <span class="product-upsell__btn-progress">
                <svg height="18" width="18" class="svg-loader">
                  <circle r="7" cx="9" cy="9" />
                  <circle stroke-dasharray="87.96459430051421 87.96459430051421" r="7" cx="9" cy="9" />
                </svg>
              </span>
  
              <span class="product-upsell__btn-check">&nbsp;</span>
            </button>

            <p class="product-upsell__out-of-stock">{{ 'products.general.upsell_out_of_stock' | t }}</p>
          {%- endform -%}
        {%- endif -%}
      </div>
    </div>
  </div>
{%- endif -%}

                  

            {% endif %}

            <div class="product-description rte">
              {%- if section == nil -%}
                {{ product.description | split: '<h6>' | first | strip_html | truncatewords: 30, '...' }}
                <hr />
                <p>
                  <a href="{{ product.url }}" class="more">{{ 'products.general.view_product' | t }} &rarr;</a>
                </p>
              {%- elsif section.settings.style == 'inline' -%}
                {{ product.description }}
              {%- endif -%}
            </div>

            {%- if section.settings.style != 'inline' -%}
              {% if product.description != blank or section.blocks.size > 0 %}
                <div class="tabs-wrapper productTabsWrapper{% if section.settings.style == 'tabs' %} productTabsWrapper--tabs{% elsif section.settings.style == 'accordions' %} productTabsWrapper--accordion{% endif %}">
                  {% render 'product-tabs', section: section, product: product %}
                </div>
              {% endif %}
            {%- endif -%}

            {% if section.settings.show_share_buttons %}
            {%- assign share_product_link = shop.url | append: product.url -%}
              <div class="product__sharing">
                <button type="button" class="product__sharing-button" data-product-share aria-label="{{ 'general.social.share_on_facebook' | t }}">
                  {% render 'icon-share' %}

                  {{ 'general.social.share_on_facebook' | t }}
                </button>

                {% render 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product.featured_media.preview_image, share_link: share_product_link %}
              </div>
            {% endif %}
          </div>
        </div>
      </div><br><br><br>
    </div>
  </div>
</div>

{% unless product == empty %}
  <script type="application/json" data-product-json>
    {{ product | json }}
  </script>
  <script type="application/json" id="ModelJson-{{ unique }}">
    {{ product.media | where: 'media_type', 'model' | json }}
  </script>
{% endunless %}
