<!-- /sections/index-logo-list.liquid -->

{%- assign heading = section.settings.title -%}
{% assign logo_opacity = section.settings.logo_opacity | times: 0.01 %}
<style>
  .logos--{{ section.id }} {
    --bg: {{ section.settings.bg_color }};
    ---logo-opacity: {{ logo_opacity }};
  }
  .logos__slider-inner{
    align-items: baseline !important;
  }
  
</style>

<div class="logos logos--{{ section.id }} {{ section.settings.text_color }} {% if page.url contains 'patients' %} ctm-logo-list-wrapper {% endif %}" data-section-id="{{ section.id }}" data-section-type="logos">
  <div class="container">
    <div style="background: {{ section.settings.bg_color }};" class="logos__wrapper {% if heading.size %} logos__wrapper--tall{% endif %}">

      {%- if heading != blank -%}
        <h2 class="h5 caps">{{ heading }}</h2>
      {%- endif -%}
      {% if section.settings.subheading_checkbox %} 


      {% if section.settings.subheading_patientPage != blank %}
          <p class="subheading-logolist">{{ section.settings.subheading_patientPage }} </p>
      {% endif %}
          {%endif%}
      <div class="logos__slider">
        <div style="justify-content: {{ section.settings.space-between-logos }};" class="logos__slider-inner" data-slider-logo data-block-scroll>
          {%- for block in section.blocks -%}
            {%- assign logo = block.settings.logo -%}
  
            <div  class="logos__slide{% if forloop.first %} is-selected{% endif %}" 
              data-slide="{{- block.id -}}"
              data-slide-index="{{ forloop.index0 }}" 
              data-block="item_logo" 
              {{ block.shopify_attributes }} style="width:{{ block.settings.block-width }}px;">
              {%- if logo != blank -%}
                <div class="logos__logo" style="width:{{ block.settings.block-width }}px;">
                  <div class="logos__img lazyload fade-in" 
                    style="width: {{ block.settings.logo_width }}px; height: {{- block.settings.logo_width | divided_by: logo.aspect_ratio -}}px;"
                    data-bgset="{%- render 'bgset', image: logo -%}"
                    data-sizes="auto"
                    data-parent-fit="cover"
                    data-aspectratio="{{ logo.aspect_ratio }}">
                  </div>
                  <h3 style="font-size: 16px;">{{ block.settings.title }}</h3>
                  <span class="ctm-logo-list-description" style="font-size: 14px;width:200px;display:inline-block">{{ block.settings.description }}</span>
                
                  <noscript>
                    <div class="logos__img no-js-image" style="background-image: url( {{ logo | img_url: '180x' }} ); width: {{ block.settings.logo_width }}px; height: {{- block.settings.logo_width | divided_by: logo.aspect_ratio -}}px;"></div>
                  </noscript>
                </div>
              {%- else -%}
                <div class="logos__logo">
                  <div class="logos__img svg-placeholder" style="width: {{ block.settings.logo_width }}px; height: {{ block.settings.logo_width }}px;">
                    {{ 'logo' | placeholder_svg_tag: 'placeholder-svg' }}
                  </div>
                </div>
              {%- endif -%}
            </div>
          {%- endfor -%}

        </div>
      </div>

      <div class="logos__slider-text" data-slider-text id="logos__slider-text--{{ section.id }}">
        {%- for block in section.blocks -%}
           {% case block.type %}
             {% when 'logo-item' %}
            
          {%- assign text = block.settings.description -%}

          <div class="logos__slide logos__slide--{{ block.id }}" data-block="item_logo" data-slide-index="{{ forloop.index0 }}" 
          data-slide="{{- block.id -}}"
          {{ block.shopify_attributes }}>
            {%- if text -%}
<!--               <p class="h6--body">{{ text }}</p> -->
            {%- endif -%}
          </div>
        {% else %}
             {% endcase %}
        {%- endfor -%}
      </div>
  {% if section.settings.footnote %}
  
          
      <div class="ctm-divider-wrapper">
        <div class="brick__block__text ctm-divider-style"></div>
        <div class="brick__block__text ctm-footer-note-style ">
          {{ section.settings.footer-note-content-2 }} 
        </div>
          {{ section.settings.footer-note-content }}
      </div>
      
    

  {% endif %}
    </div>
  </div>

</div>

{% schema %}
{
  "name": "Logo list",
  "max_blocks": 25,
  "settings": [
    {
      "type": "checkbox",
      "id": "subheading_checkbox",
      "label": "Enable Sub-Heading"
    },
    {
      "type": "text",
      "id": "subheading_patientPage",
      "label": "Sub Heading",
      "default": "Logo list"      
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Logo list"
    },
    {
      "type": "range",
      "id": "logo_opacity",
      "label": "Inactive logo opacity",
      "unit": "%",
      "min": 5,
      "max": 100,
      "step": 5,
      "default":60
    },
    {
      "type": "select",
      "id": "space-between-logos",
      "label": "Text color",
      "default": "space-evenly",
      "options": [
        { "value": "center", "label": "Center"},
        { "value": "space-evenly", "label": "Space Even"}
      ]
    },
    {
      "type": "select",
      "id": "text_color",
      "label": "Text color",
      "default": "text-dark",
      "options": [
        { "value": "text-light", "label": "White"},
        { "value": "text-dark", "label": "Dark"}
      ]
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background color",
      "default": "#fafafa"
    },
    {
      "type": "checkbox",
      "id": "footnote",
      "label": "Enable Foot Note"
    },
   {
          "type": "liquid",
          "id": "footer-note-content",
          "label": "Footer note content",
          "default": "<p>*** Note</p>"
   },
   {
          "type": "liquid",
          "id": "footer-note-content-2",
          "label": "Footer note content",
          "default": "<p>*** Note</p>"
   }
  ],
  "blocks": [
    {
      "type": "logo-item",
      "name": "Logo",
      "settings": [
        {
          "type": "liquid",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description",
          "default": "<p>Include a brief quote from a brand that loves your products</p>"
        },
        {
          "type":"number",
          "id":"block-width",
          "label":"Card Width",
          "default":220
        },
        {
          "type": "image_picker",
          "id": "logo",
          "label": "Logo"
        },
        {
          "type": "range",
          "id": "logo_width",
          "label": "Width",
          "unit": "px",
          "min": 100,
          "max": 180,
          "step": 10,
          "default": 100
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Logo list",
      "category": "Image",
      "blocks": [
        {
          "type": "logo-item"
        },
        {
          "type": "logo-item"
        },
        {
          "type": "logo-item"
        },
        {
          "type": "logo-item"
        },
        {
          "type": "logo-item"
        },
        {
          "type": "logo-item"
        }
      ]
    }
  ]
}
{% endschema %}
